.app-root {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-root * {
  pointer-events: visible;
}

.header.inverted {
  padding-top: 1em;
  margin-left: 3vw;
  font-size: 4em !important;
}

.prompt {
  margin-left: 3vw;
  color: white;
  font-size: 1.5em;
}

.dropdown {
  width: 8em;
  margin-left: 0.5em;
}

.news-list {  
  pointer-events: visible;
  z-index: 10;
  vertical-align: middle;
  margin: auto;
  width: 40em;
  background-color: white;
  min-height: 30em;
  border-radius: 1em;
  padding: 1em;
}

.news-list-title {
  display: inline-block;
  margin: 0;
  color: yellow;
}

.news-list-closebtn {
  display: inline-block;
  float: right;
  margin: 0;
  color: blue;
}

.legend {
  position: absolute;
  right: 3em;
  bottom: 3em;
  background-color: #ffefd5;
  padding: 10px;
  border-radius: 10px;
  font-family: arial;
  width: 10em;
}

.legend-title {
  color: #073642;
}

.color-key {
  width: 1em;
  height: 1em;
  border-radius: 0.2em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
